<h1 class="mb-5 text-center">
  Editing post
</h1>

<%= render "form", post: @post %>

<br>
<div>
  <%= link_to "show post", @post %>
  <%= link_to "back to posts", posts_path, class: "text-secondary" %>
</div>
